<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>com.example.calculator</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
</web-app>
</element>